body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d2d2d2a8;
}

.top-card {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 6px;
    width: 100%;
    margin: 0px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.top-card img {
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius:50%;
    object-fit: cover;
    border: 2px solid #3f3f3fa8;
    margin-bottom: 10px;
}

.bottom-card {
    text-align: center;
    color: #282c36;
    padding: 20px;
    width: 100%;
}